// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #ed1c24;

$link-color: 					#ed1c24;

$link-focus-color: 				#ed1c24;

